{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Directories</h2>
    {% if directories %}
    <ul class="list-group">
        {% for directory in directories %}
        <li class="list-group-item">
            <a href="{{ url_for('view_directory', directory=directory) }}">{{ directory }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">No directories available.</p>
    {% endif %}
</div>
{% endblock %}
